# Sets
In Python sets are written with curly brackets.
#### Important properties of sets

* Sets are used to store multiple items in a single variable.
* Can store different data types
* Duplicate values are not allowed
* Order is not retained
* Indexing and slicing is not possible
* A set is a collection which is unordered, unchangeable, and unindexed.(Set items are unchangeable, but you can remove items and add new items.)

In [1]:
set1 = {2,3,4.4,True,"python"}

In [2]:
set1

{2, 3, 4.4, True, 'python'}

In [3]:
set2 = {1,2,3,4,1,2,1,1,4,3}

In [4]:
set2

{1, 2, 3, 4}

In [5]:
set3 = {"a",1,"b",2,3}

In [6]:
set3

{1, 2, 3, 'a', 'b'}

In [7]:
# check the type using type()
type(set2)

set

In [8]:
# to check the length of the sets
len(set1)

5

#### Indexing and Slicing is not allowed in sets

In [9]:
# try to index
set1[0]

TypeError: 'set' object is not subscriptable

#### empty set

In [10]:
set4 = {}
set4

{}

In [11]:
type(set4)

dict

In [12]:
# to create empty sets
set4 = set()
type(set4)

set

#### Mutablility
Once set is created you can add and remove the elements from the set, but you cannot modify the existing elements in a set

#### In built methods.
##### * To add the elements

##### 1) add(item)
adds single item to the set

In [13]:
set1 = {1,2,3,4,6}
# set1
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

In [14]:
set1.add(7)
set1

{1, 2, 3, 4, 6, 7}

##### 2) .update(list)
this method is used to add more than one items. All the items should be passed in the form of lists

In [15]:
set1 = {1,2,3,4,5}
set1.update([6,7,8]) # pass list of values to set1

In [16]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

#### 3) .update(set)
-The update() method inserts the items in set2 into set1:

In [32]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'a', 'c'}

#### 3) copy()
to copy a set

In [17]:
set2 = set1.copy()
set2

{1, 2, 3, 4, 5, 6, 7, 8}

##### * To remove the items

##### 4) remove(item)
removes the specified item from the set. If specified item is not present it will raise error

In [18]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
set1.remove(1)
set1

{2, 3, 4, 5, 6, 7, 8}

In [15]:
set1.remove(2)
set1

{1, 3, 4, 6, 7}

In [16]:
#Gives error because 2 is not present
set1.remove(2)
set1

KeyError: 2

##### 5) discard(item)
removes the specified item from the set.But if the item is not present then it will not raise error

In [17]:
set1 = {1,2,3,4,5,6}
set1

{1, 2, 3, 4, 5, 6}

In [18]:
set1.discard(1)
set1

{2, 3, 4, 5, 6}

In [19]:
set1.discard(2)
set1

{3, 4, 5, 6}

In [20]:
# will not give the error if 2 is not there
set1.discard(2)
set1

{3, 4, 5, 6}

##### 6) pop()
Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [21]:
set1 = {"a",1,"B",2,3,"c",4}
set1.pop()

1

In [22]:
set1.pop()

2

##### 7) clear()
empties the set

In [23]:
set1

{3, 4, 'B', 'a', 'c'}

In [24]:
set1.clear()
set1

set()

##### * Other inbuilt methods

##### 8) union()

- returns a new set with all the elements from set1 and set2

In [25]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [26]:
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8}

##### 9) intersection()
- returns the common element from both the sets
- Keep ONLY the Duplicates

In [32]:
set1

{1, 2, 3, 4, 5}

In [33]:
set2

{4, 5, 6, 7, 8}

In [34]:
set3 = set1.intersection(set2)
set3

{4, 5}

- Keep the items that exist in both set x, and set y:

In [33]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

#### Delete a Set
- The del keyword will delete the set completely:

In [27]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

#### Loop Items
You can loop through the set items by using a for loop:

In [29]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

#### Keep All, But NOT the Duplicates
- The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [34]:
# Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'cherry', 'google'}

- The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [35]:
# Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'cherry', 'google'}

#### Set difference() 
Return a set that contains the items that only exist in set x, and not in set y:

- The difference() method returns a set that contains the difference between two sets.

- Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

##### Disjoint
- The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [37]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

#### Sub set
- issubset() Return True if all items in set x are present in set y:

In [38]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

##### Super set
- issuperset(set) Return True if all items set y are present in set x:

In [39]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False