## Strings

In [1]:
ss = "Hello, World!"
tt = ss.upper()
print(tt)

HELLO, WORLD!

In [7]:
print(tt.lower())
print(ss.capitalize())
print(ss.swapcase())

hello, world!
Hello, world!
hELLO, wORLD!

In [8]:
ss.isascii()

True

In [16]:
len(ss)

13

In [13]:
print(ss[1])

e

In [15]:
prime_nums = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
prime_nums[4]

11

In [19]:
sz = len(ss)
print(sz)

13

In [20]:
last = ss[sz]

IndexError: string index out of range

In [21]:
list(enumerate(ss))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ','),
 (6, ' '),
 (7, 'W'),
 (8, 'o'),
 (9, 'r'),
 (10, 'l'),
 (11, 'd'),
 (12, '!')]

In [22]:
friends = ["Ali", "Raza", "Bilal", "Asif", "Hassan", "Saqib", "saleem"]

In [23]:
friends[3]

'Asif'

In [24]:
list(enumerate(friends))

[(0, 'Ali'),
 (1, 'Raza'),
 (2, 'Bilal'),
 (3, 'Asif'),
 (4, 'Hassan'),
 (5, 'Saqib'),
 (6, 'saleem')]

In [25]:
len(friends)

7

In [30]:
size=len(friends)
size

7

In [31]:
friends[size]

IndexError: list index out of range

In [32]:
friends[size-1]

'saleem'

In [34]:
ix = 0
while ix < len(friends):
    letter = friends[ix]
    print(letter)
    ix += 1

Ali
Raza
Bilal
Asif
Hassan
Saqib
saleem

In [36]:
for c in friends:
    print(c)

Ali
Raza
Bilal
Asif
Hassan
Saqib
saleem

In [35]:
ix = 0
while ix < len(prime_nums):
    letter = prime_nums[ix]
    print(letter)
    ix += 1

2
3
5
7
11
13
17
19
23
29
31

In [43]:
for c in prime_nums:
    print(c, end='   ')

2   3   5   7   11   13   17   19   23   29   31

In [44]:
prefixes = "JKLMNOPQ"
suffix = "ack"

for p in prefixes:
    print(p + suffix)

Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack

In [46]:
prefixes = friends
suffix = " Thanks"

for p in prefixes:
    print(p + suffix)

Ali Thanks
Raza Thanks
Bilal Thanks
Asif Thanks
Hassan Thanks
Saqib Thanks
saleem Thanks

### String Slicing

In [47]:
s = "Peter, Paul, and Mary"

In [48]:
print(s[0:5])

Peter

In [49]:
print(s[7:11])

Paul

In [50]:
print(s[17:21])

Mary

In [53]:
print(friends[2:4])

['Bilal', 'Asif']

In [55]:
print(friends[:])

['Ali', 'Raza', 'Bilal', 'Asif', 'Hassan', 'Saqib', 'saleem']

In [58]:
word = "banana"
if word == "banana":
    print("Yes, we have no bananas!")

Yes, we have no bananas!

In [67]:
word="{"
if word < "banana":
    print("Your word, " + word + ", comes before banana.")
elif word > "banana":
    print("Your word, " + word + ", comes after banana.")
else:
    print("Yes, we have no bananas!")

Your word, {, comes after banana.

## Strings are immutable

### It is tempting to use the [ ] operator on the left side of an assignment, with the intention of changing a character in a string. For example:

In [1]:
greeting = "Hello, world!"
greeting[0] = 'J'            # ERROR!
print(greeting)

TypeError: 'str' object does not support item assignment

### Strings are immutable, which means you canâ€™t change an existing string. The best you can do is create a new string that is a variation on the original:

In [2]:
greeting = "Hello, world!"
new_greeting = "J" + greeting[1:]
print(new_greeting)

Jello, world!

## in operator

In [3]:
"p" in "apple"

True

In [4]:
"i" in "apple"

False

In [5]:
"ap" in "apple"

True

In [6]:
"pa" in "apple"

False

## string is a substring of itself, and the empty string is a substring of any other string

In [11]:
"a" in "a"

True

In [12]:
"apple" in "apple"

True

In [13]:
"" in "a"

True

In [14]:
"" in "apple"

True

## not in operator

In [15]:
"x" not in "apple"

True

## Combining the in operator with string concatenation using +, we can write a function that removes all the vowels from a string:

In [16]:
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    s_sans_vowels = ""
    for x in s:
        if x not in vowels:
            s_sans_vowels += x
    return s_sans_vowels

In [19]:
remove_vowels("compsci")

'cmpsc'

In [20]:
remove_vowels("aAbEefIijOopUus")

'bfjps'

## find function

In [21]:
def find(strng, ch):
    """
      Find and return the index of ch in strng.
      Return -1 if ch does not occur in strng.
    """
    ix = 0
    while ix < len(strng):
        if strng[ix] == ch:
            return ix
        ix += 1
    return -1

In [22]:
find("Compsci", "p")

3

In [23]:
find("Compsci", "i")

6

In [24]:
find("Compsci", "x")

-1

## Looping and counting

In [25]:
def count_a(text):
    count = 0
    for c in text:
        if c == "a":
            count += 1
    return(count)

In [26]:
count_a("banana")

3

In [27]:
def count_a(text, ch):
    count = 0
    for c in text:
        if c == ch:
            count += 1
    return(count)

In [28]:
count_a("banana", 'a')

3

## find the locations of the second or third occurrence of a character in a string

In [51]:
def find2(strng, ch, start):
    ix = start
    while ix < len(strng):
        if strng[ix] == ch:
            return ix
        ix += 1
    return -1

In [52]:
find2("banana", "a",4)

5

### Default Parameter

In [55]:
def find3(strng, ch, start=0):
    ix = start
    while ix < len(strng):
        if strng[ix] == ch:
            return ix
        ix += 1
    return -1

In [56]:
find3("banana", "a",4)

5

In [58]:
find3("banana", "a")

1

### End parameter

In [59]:
def find4(strng, ch, start=0, end=None):
    ix = start
    if end is None:
       end = len(strng)
    while ix < end:
        if strng[ix] == ch:
            return ix
        ix += 1
    return -1

In [67]:
find4("appleab", "a",1,4)

-1

### All locations

In [43]:
def find2(strng, ch):
    ix = 0
    loc=[]
    while ix < len(strng):
        if strng[ix] == ch:
            loc.append(ix)
            
        ix += 1
    return loc
    #return -1

In [46]:
find2("banana", "a")

[1, 3, 5]

In [70]:
str1 = "Python strings have some interesting methods."
find(str1, "s")

7

In [71]:
str1.find("s")

7

In [72]:
str1.find("s", 7)

7

In [73]:
str1.find("s", 8)

13

In [74]:
str1.find("s", 8, 13)

-1

In [77]:
str1.find(".")

44

In [76]:
len(str1)-1

44

### Split String

In [78]:
wds = str1.split()

In [87]:
wds

['Python', 'strings', 'have', 'some', 'interesting', 'methods.']

In [88]:
str2= " have - a - nice time - Raza"

In [91]:
wds = str2.split('-')

In [92]:
wds

[' have, a , nice time, Raza']

### Cleaning up your strings

In [80]:
punctuation = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"

def remove_punctuation2(s):
    s_sans_punct = ""
    for letter in s:
        if letter not in punctuation:
            s_sans_punct += letter
    return s_sans_punct

In [81]:
remove_punctuation2('"Well, I never did!", said Alice.')

'Well I never did said Alice'

In [84]:
import string

def remove_punctuation(s):
    s_without_punct = ""
    for letter in s:
        if letter not in string.punctuation:
            s_without_punct += letter
    return s_without_punct

In [85]:
remove_punctuation('"Well, I never did!", said Alice.')

'Well I never did said Alice'

In [86]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [94]:
my_story = """
Pythons are constrictors, which means - that they will 'squeeze' the life
out of their prey. They coil themselves around their prey and with
each breath the creature takes the snake will squeeze a little tighter
until they stop breathing completely. Once the heart stops the prey
is swallowed whole. The entire animal is digested in the snake's
stomach except for fur or feathers. What do you think happens to the fur,
feathers, beaks, and eggshells? The 'extra stuff' gets passed out as ---
you guessed it --- snake POOP! """

wds = remove_punctuation(my_story).split()
print(wds)

['Pythons', 'are', 'constrictors', 'which', 'means', 'that', 'they', 'will', 'squeeze', 'the', 'life', 'out', 'of', 'their', 'prey', 'They', 'coil', 'themselves', 'around', 'their', 'prey', 'and', 'with', 'each', 'breath', 'the', 'creature', 'takes', 'the', 'snake', 'will', 'squeeze', 'a', 'little', 'tighter', 'until', 'they', 'stop', 'breathing', 'completely', 'Once', 'the', 'heart', 'stops', 'the', 'prey', 'is', 'swallowed', 'whole', 'The', 'entire', 'animal', 'is', 'digested', 'in', 'the', 'snakes', 'stomach', 'except', 'for', 'fur', 'or', 'feathers', 'What', 'do', 'you', 'think', 'happens', 'to', 'the', 'fur', 'feathers', 'beaks', 'and', 'eggshells', 'The', 'extra', 'stuff', 'gets', 'passed', 'out', 'as', 'you', 'guessed', 'it', 'snake', 'POOP']

## The string format method
### The template string contains place holders,
### ... {0} ... {1} ... {2} ... etc.

In [95]:
s1 = "His name is {0}!".format("Arthur")
print(s1)

His name is Arthur!

In [96]:
name = "Alice"
age = 10
s2 = "I am {1} and I am {0} years old.".format(age, name)
print(s2)

I am Alice and I am 10 years old.

In [99]:
n1 = 4
n2 = 5
s3 = "2**10 = {0} and {1} * {2} = {3:f}".format(2**10, n1, n2, n1 * n2)
print(s3)

2**10 = 1024 and 4 * 5 = 20.000000

In [100]:
letter = """
Dear {0} {2}.
 {0}, I have an interesting money-making proposition for you!
 If you deposit $10 million into my bank account, I can
 double your money ...
"""

print(letter.format("Paris", "Whitney", "Hilton"))

Dear Paris Hilton.
 Paris, I have an interesting money-making proposition for you!
 If you deposit $10 million into my bank account, I can
 double your money ...

In [101]:
print(letter.format("Bill", "Henry", "Gates"))

Dear Bill Gates.
 Bill, I have an interesting money-making proposition for you!
 If you deposit $10 million into my bank account, I can
 double your money ...

In [102]:
print("Pi to three decimal places is {0:.3f}".format(3.1415926))

Pi to three decimal places is 3.142

#### Left Right Center

In [107]:
n1 = "Paris"
n2 = "Whitney"
n3 = "Hilton"

print("|||{0:<15}|||{1:^15}|||{2:>15}|||Born in {3}|||".format(n1,n2,n3,1981))

|||Paris          |||    Whitney    |||         Hilton|||Born in 1981|||

In [108]:
print("i\ti**2\ti**3\ti**5\ti**10\ti**20")
for i in range(1, 11):
    print(i, "\t", i**2, "\t", i**3, "\t", i**5, "\t",
                                            i**10, "\t", i**20)

i	i**2	i**3	i**5	i**10	i**20
1 	 1 	 1 	 1 	 1 	 1
2 	 4 	 8 	 32 	 1024 	 1048576
3 	 9 	 27 	 243 	 59049 	 3486784401
4 	 16 	 64 	 1024 	 1048576 	 1099511627776
5 	 25 	 125 	 3125 	 9765625 	 95367431640625
6 	 36 	 216 	 7776 	 60466176 	 3656158440062976
7 	 49 	 343 	 16807 	 282475249 	 79792266297612001
8 	 64 	 512 	 32768 	 1073741824 	 1152921504606846976
9 	 81 	 729 	 59049 	 3486784401 	 12157665459056928801
10 	 100 	 1000 	 100000 	 10000000000 	 100000000000000000000

In [109]:
layout = "{0:>4}{1:>6}{2:>6}{3:>8}{4:>13}{5:>24}"

print(layout.format("i", "i**2", "i**3", "i**5", "i**10", "i**20"))
for i in range(1, 11):
    print(layout.format(i, i**2, i**3, i**5, i**10, i**20))

   i  i**2  i**3    i**5        i**10                   i**20
   1     1     1       1            1                       1
   2     4     8      32         1024                 1048576
   3     9    27     243        59049              3486784401
   4    16    64    1024      1048576           1099511627776
   5    25   125    3125      9765625          95367431640625
   6    36   216    7776     60466176        3656158440062976
   7    49   343   16807    282475249       79792266297612001
   8    64   512   32768   1073741824     1152921504606846976
   9    81   729   59049   3486784401    12157665459056928801
  10   100  1000  100000  10000000000   100000000000000000000

In [112]:
str2= "University"
print(str2[::-1])

ytisrevinU