# Lists
-  Anything can be a lists
- Comma separated values
- In square brackets
- Can be any value, and a mix of values: Integer, Float, Boolean, None, String, List, Dictionary, â€¦
- ..... But usually they are of the same type:
- Distances of astronomical objects
- Chemical Formulas
- Filenames
- Names of devices
- Objects describing attributes of a network device.
- Actions to do on your data.

In [2]:
stuff = [42, 3.14, True, None, "Foo Bar", ['another', 'list'], {'a': 'Dictionary', '\
language' : 'Python'}]
print(stuff)

[42, 3.14, True, None, 'Foo Bar', ['another', 'list'], {'a': 'Dictionary', 'language': 'Python'}]

In [3]:
more_stuff = [
42,
3.14,
True,
None,
"Foo Bar",
['another', 'list'],
{
'a': 'Dictionary',
'language' : 'Python',
},
]
print(more_stuff)

[42, 3.14, True, None, 'Foo Bar', ['another', 'list'], {'a': 'Dictionary', 'language': 'Python'}]

#### Lists
- Access single element: [index]
- Access a sublist: [start:end]
- Creates a copy of that sublist

In [5]:
 planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
 
print(planets)   # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
print(len(planets))    # 6

print(planets[0])         # Mercury
print(type(planets[0]))   # <class 'str'>
print(planets[3])         # Mars

print(planets[0:1])       # ['Mercury']
print(type(planets[0:1])) # <class 'list'>
print(planets[0:2])       # ['Mercury', 'Venus']
print(planets[1:3])       # ['Venus', 'Earth']

print(planets[2:])        # ['Earth', 'Mars', 'Jupiter', 'Saturn']
print(planets[:3])        # ['Mercury', 'Venus', 'Earth']

print(planets[:])         # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn\']

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
6
Mercury
<class 'str'>
Mars
['Mercury']
<class 'list'>
['Mercury', 'Venus']
['Venus', 'Earth']
['Earth', 'Mars', 'Jupiter', 'Saturn']
['Mercury', 'Venus', 'Earth']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

In [6]:
print(planets)   # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

In [26]:
print(len(planets))

6

In [27]:
print(planets[0])

Mercury

In [28]:
print(type(planets[0]))

<class 'str'>

In [29]:
print(planets[3])

Mars

In [30]:
print(planets[0:1])

['Mercury']

In [31]:
print(type(planets[0:1]))

<class 'list'>

In [32]:
print(planets[0:2])

['Mercury', 'Venus']

In [33]:
print(planets[1:3])

['Venus', 'Earth']

In [34]:
print(planets[2:])

['Earth', 'Mars', 'Jupiter', 'Saturn']

In [35]:
print(planets[:3])

['Mercury', 'Venus', 'Earth']

In [36]:
print(planets[:])

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

### List slice with steps
### - List slice with step: [start:end:step]

In [37]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [38]:
print(letters[::])       # ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(letters[::1])      # ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(letters[::2])      # ['a', 'c', 'e', 'g', 'i']
 
print(letters[1::2])     # ['b', 'd', 'f', 'h', 'j']

print(letters[2:8:2])    # ['c', 'e', 'g']

print(letters[1:20:3])   # ['b', 'e', 'h']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'c', 'e', 'g', 'i']
['b', 'd', 'f', 'h', 'j']
['c', 'e', 'g']
['b', 'e', 'h']

In [39]:
print(letters[::])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [40]:
print(letters[::1])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [41]:
print(letters[::2])

['a', 'c', 'e', 'g', 'i']

In [42]:
print(letters[1::2])

['b', 'd', 'f', 'h', 'j']

In [43]:
print(letters[2:8:2])

['c', 'e', 'g']

In [44]:
print(letters[1:20:3])

['b', 'e', 'h']

### Change a List
-  Unlike strings, lists are mutable. You can change the content of a list by assigning values to its elements.
-  You can use the slice notation to change several elements at once.
-  You can even have different number of elements in the slice and in the replacement. This will also change the length of the array.

In [45]:
x = ['abc', 'def', 'ghi', 'jkl']
x[0] = 'qqrq'
print(x)    # ['qqrq', 'def', 'ghi', 'jkl']

x[1:3] = ['xyz', 'dod']
print(x)    #  ['qqrq', 'xyz', 'dod', 'jkl']

x[1:3] = ['bla']
print(x)    #  ['qqrq', 'bla', 'jkl']

x[1:2] = ['elp', 'free']
print(x)    # ['qqrq', 'elp', 'free', 'jkl']

#x[1] = ['elp', 'free']
#print(x)    # ['qqrq', ['elp', 'free'], 'jkl']

['qqrq', 'def', 'ghi', 'jkl']
['qqrq', 'xyz', 'dod', 'jkl']
['qqrq', 'bla', 'jkl']
['qqrq', 'elp', 'free', 'jkl']

In [51]:
x = ['abc', 'def', 'ghi', 'jkl']

In [52]:
x[0] = 'qqrq'
print(x)

['qqrq', 'def', 'ghi', 'jkl']

In [53]:
x[1:3] = ['xyz', 'dod']
print(x)

['qqrq', 'xyz', 'dod', 'jkl']

In [54]:
x[1:3] = ['bla']
print(x)

['qqrq', 'bla', 'jkl']

In [55]:
x[1:2] = ['elp', 'free']
print(x)

['qqrq', 'elp', 'free', 'jkl']

In [56]:
x[1] = ['elp', 'free']
print(x)

['qqrq', ['elp', 'free'], 'free', 'jkl']

#### Change with steps

In [58]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(numbers)  # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
numbers[1::2] = [0, 0, 0, 0, 0, 0]
print(numbers)  # [1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11, 0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11, 0]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(numbers)

In [59]:
numbers[1::2] = [0, 0, 0, 0, 0, 0]
print(numbers)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11, 0]

### List assignment and list copy

In [60]:
x = ['apple', 'bob', 'cat', 'drone']
y = x
x[0] = 'qqrq'
print(x)    # ['qqrq', 'bob', 'cat', 'drone']
print(y)    # ['qqrq', 'bob', 'cat', 'drone']

['qqrq', 'bob', 'cat', 'drone']
['qqrq', 'bob', 'cat', 'drone']

In [61]:
x = ['apple', 'bob', 'cat', 'drone']
y = x
x[0] = 'qqrq'

In [62]:
print(x)   
print(y)

['qqrq', 'bob', 'cat', 'drone']
['qqrq', 'bob', 'cat', 'drone']

- There is one list in the memory and two pointers to it.
- If you really want to make a copy the pythonic way is to use the slice syntax.
- ####  It creates a shallow copy.

In [67]:
x = ['apple', 'bob', 'cat', 'drone']
y = x[:]

x[0] = 'qqrq'

# print(x)    # ['qqrq', 'bob', 'cat', 'drone']
# print(y)    # ['apple', 'bob', 'cat', 'drone']

In [68]:
print(x)

['qqrq', 'bob', 'cat', 'drone']

In [69]:
print(y)

['apple', 'bob', 'cat', 'drone']

#### Deep copy

In [70]:
from copy import deepcopy

x = ['apple', 'bob', 'cat', 'drone']
y = deepcopy(x)

x[0] = 'qqrq'

print(x)    # ['qqrq', 'bob', 'cat', 'drone']
print(y)    # ['apple', 'bob', 'cat', 'drone']

['qqrq', 'bob', 'cat', 'drone']
['apple', 'bob', 'cat', 'drone']

In [71]:

print(x)    
print(y)

['qqrq', 'bob', 'cat', 'drone']
['apple', 'bob', 'cat', 'drone']

In [74]:
# importing copy module
import copy

# initializing list 1
list1 = [1, 2, [3, 5], 4]

# using copy for shallow copy
list2 = copy.copy(list1)
print("li2 ID: ", id(list2), "Value: ", list2)


# using deepcopy for deepcopy
list3 = copy.deepcopy(list1)
print("li3 ID: ", id(list3), "Value: ", list3)

li2 ID:  2351441386048 Value:  [1, 2, [3, 5], 4]
li3 ID:  2351441180800 Value:  [1, 2, [3, 5], 4]

#### join

In [75]:
fields = ['one', 'two and three', 'four', 'five']

together = ':'.join(fields)
print(together) # one:two and three:four:five

mixed = ' -=<> '.join(fields)
print(mixed) # one -=<> two and three -=<> four -=<> five
another = ''.join(fields)
print(another)  # onetwo and threefourfive

one:two and three:four:five
one -=<> two and three -=<> four -=<> five
onetwo and threefourfive

#### join list of numbers

In [76]:
a = ["x", "2", "y"]
b = ["x", 2, "y"]
print(":".join(a))    # x:2:y
# print ":".join(b)    # TypeError: sequence item 1: expected string, int found

# convert elements to string using map
print(":".join( map(str, b) ))        # x:2:y


# convert elements to string using list comprehension
print(":".join( str(x) for x in b ))  # x:2:y

x:2:y
x:2:y
x:2:y

### split
- Special case: To split a string to its characters:  Use the list() function.
- Split using more than one splitter: use re.split

In [1]:
words = "ab:cd:ef".split(':')
print(words)   # ['ab', 'cd', 'ef']

# special case: split by spaces
names = "foo   bar baz".split()
print(names)   # ['foo', 'bar', 'baz']
 
# special case: split to characters
chars = list("abcd")
print(chars)   # ['a', 'b', 'c', 'd']

['ab', 'cd', 'ef']
['foo', 'bar', 'baz']
['a', 'b', 'c', 'd']

### for loop on lists

In [3]:

things = ['apple', 'banana', 'peach', 42]
for var  in things:
    print(var)

apple
banana
peach
42

### in list
Check if the value is in the list?

In [4]:
words = ['apple', 'banana', 'peach', '42']
if 'apple' in words:
    print('found apple')
 
if 'a' in words:
    print('found a')
else:
    print('NOT found a')

if 42 in words:
    print('found 42')
else:
    print('NOT found 42')

# found apple
# NOT found a
# NOT found 42

found apple
NOT found a
NOT found 42

### Where is the element in the list

In [6]:
words = ['cat', 'dog', 'snake', 'camel']
print(words.index('snake'))

print(words.index('python'))

2

### Index improved

In [7]:
words = ['cat', 'dog', 'snake', 'camel']

name = 'snake'
if name in words:
    print(words.index(name))

name = 'python'
if name in words:
    print(words.index(name))

2

### [ ].insert

In [9]:
 words = ['apple', 'banana', 'cat']
 print(words)  # ['apple', 'banana', 'cat']
 
 words.insert(2, 'zebra')
 print(words)  # ['apple', 'banana', 'zebra', 'cat']
 
 words.insert(0, 'dog')
 print(words)  # ['dog', 'apple', 'banana', 'zebra', 'cat']
 
 # Instead of this, use append (next slide)
 words.insert(len(words), 'olifant')
 print(words)  # ['dog', 'apple', 'banana', 'zebra', 'cat', 'olifant']

['apple', 'banana', 'cat']
['apple', 'banana', 'zebra', 'cat']
['dog', 'apple', 'banana', 'zebra', 'cat']
['dog', 'apple', 'banana', 'zebra', 'cat', 'olifant']

### [ ].append

In [10]:
 names = ['Foo', 'Bar', 'Zorg', 'Bambi']
 print(names)  # ['Foo', 'Bar', 'Zorg', 'Bambi']
 
 names.append('Qux')
 print(names)  # ['Foo', 'Bar', 'Zorg', 'Bambi', 'Qux']

['Foo', 'Bar', 'Zorg', 'Bambi']
['Foo', 'Bar', 'Zorg', 'Bambi', 'Qux']

### [ ].remove
- Remove first element from a list given by its value.
- Throws an exception if there is no such element in the list.

In [12]:
  names = ['Joe', 'Kim', 'Jane', 'Bob', 'Kim']
  print(names)                # ['Joe', 'Kim', 'Jane', 'Bob', 'Kim']
  
  print(names.remove('Kim'))  # None
  print(names)                # ['Joe', 'Jane', 'Bob', 'Kim']
  
  print(names.remove('George'))
     # Traceback (most recent call last):
     #   File "examples/lists/remove.py", line 9, in <module>
     #     print(names.remove('George'))  # None
    # ValueError: list.remove(x): x not in list

['Joe', 'Kim', 'Jane', 'Bob', 'Kim']
None
['Joe', 'Jane', 'Bob', 'Kim']

### Remove element by index [ ].pop
- Remove and return the last element of a list. Throws an exception if the list was empty.

In [15]:
  planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']
  print(planets)          # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']
  
  third = planets.pop(2)
  print(third)            # Earth
  print(planets)          # ['Mercury', 'Venus', 'Mars', 'Jupiter']
  
  last = planets.pop()
  print(last)             # Jupiter
  print(planets)          # ['Mercury', 'Venus', 'Mars']
 
 # planets.pop(4)          # IndexError: pop index out of range
 
jupyter_landers = []
 # jupyter_landers.pop()   # IndexError: pop from empty list

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']
Earth
['Mercury', 'Venus', 'Mars', 'Jupiter']
Jupiter
['Mercury', 'Venus', 'Mars']

### Remove first element of list
- To remove an element by its index, use the slice syntax:

In [16]:
 names = ['foo', 'bar', 'baz', 'moo']
 
 first = names.pop(0)
 print(first)    # foo
 print(names)    # ['bar', 'baz', 'moo']

foo
['bar', 'baz', 'moo']

### Remove several elements of list by index
- To remove an element by its index, use the slice syntax:

In [17]:
 names = ['foo', 'bar', 'baz', 'moo', 'qux']
 
 names[2:4] = []
 print(names)    # ['foo', 'bar', 'qux']

['foo', 'bar', 'qux']

### Use list as a queue
- First in first out (FIFO)

In [19]:
  a_queue = []
  print(a_queue)
  
  a_queue.append('Moo')
  print(a_queue)
  
  a_queue.append('Bar')
  print(a_queue)
  
  first = a_queue.pop(0)
  print(first)
  print(a_queue)

[]
['Moo']
['Moo', 'Bar']
Moo
['Bar']

### List as a stack
- Last in first out (LIFO)

In [23]:
  stack = []
  
  stack.append("Joe")
  print(stack)
  stack.append("Jane")
  print(stack)
  stack.append("Bob")
  print(stack)
  
  while stack:
      name = stack.pop()
      print(name)
      print(stack)

['Joe']
['Joe', 'Jane']
['Joe', 'Jane', 'Bob']
Bob
['Joe', 'Jane']
Jane
['Joe']
Joe
[]

### sort

In [24]:
 planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
 print(planets)     # ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
 planets.sort()
 print(planets)     # ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Saturn', 'Venus']
 
 planets.sort(reverse=True)
 print(planets)     # ['Venus', 'Saturn', 'Mercury', 'Mars', 'Jupiter', 'Earth']

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
['Earth', 'Jupiter', 'Mars', 'Mercury', 'Saturn', 'Venus']
['Venus', 'Saturn', 'Mercury', 'Mars', 'Jupiter', 'Earth']

In [28]:
# sort numbers
numbers = [7, 2, -4, 19, 8]
print(numbers)                      # [7, 2, -4, 19, 8]
numbers.sort()
print(numbers)                      # [-4, 2, 7, 8, 19]
  
numbers.sort(reverse=True)
print(numbers)                      # [19, 9, 7, 2, -4]
  
numbers.sort(key=abs, reverse=True)
print(numbers)

[7, 2, -4, 19, 8]
[-4, 2, 7, 8, 19]
[19, 8, 7, 2, -4]
[19, 8, 7, -4, 2]

In [29]:
#sort mixed
mixed = [100, 'foo', 42, 'bar']
print(mixed)
mixed.sort()
print(mixed)


# In Python 2 puts the numbers first in numerical order and then the strings in ASCII order.
# In Python 3 it throws an exception.

[100, 'foo', 42, 'bar']

TypeError: '<' not supported between instances of 'str' and 'int'

### key sort
- Another example to using a key.
- To sort the list according to length

In [30]:
animals = ['chicken', 'cow', 'snail', 'elephant']
print(animals)
 
animals.sort()
print(animals)
 
animals.sort(key=len)
print(animals)
 
animals.sort(key=len, reverse=True)
print(animals)

['chicken', 'cow', 'snail', 'elephant']
['chicken', 'cow', 'elephant', 'snail']
['cow', 'snail', 'chicken', 'elephant']
['elephant', 'chicken', 'snail', 'cow']